body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.product-item {
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  display: block;
}

.product-details {
  padding: 10px;
}

.product-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.buy-button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.container {
  width: 1000px; /** Adjust based on the width of item * total + other spaces */
  margin: 3rem auto; /** This will center your container */
}
.container::after {
  content: "";
  clear: both;
}
.product-item {
  float: left;
}
